{% extends "base.html" %}
{% block body %}
{% load static %}



<!-- signin Modal -->
{% comment %} <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1" aria-hidden="true"> {% endcomment %}
    <div class="agilemodal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>

            </div>
            <div class="modal-body  pt-3 pb-5 px-sm-5">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <img src="{% static 'images/p3.png' %}" class="img-fluid" alt="login_image" />
                    </div>  
                    <div class="col-md-6">
                        <form action="" method="post">
                            {% csrf_token %}

                             

                             <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Your Name</label>
                                <input type="text" class="form-control" placeholder=" " name="username" id="recipient-name" required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <input type="password" class="form-control" placeholder=" " name="password" required="">
                            </div>

                            {% comment %} <div class="form-group">
                                <label for="{{ form.username.id_for_lable }}" class="col-form-label">Your Name</label>
                                <input type="text" class="form-control" placeholder=" " name="{{ form.username.name }}"  value="{{ form.username.value }}" />
                                <span class="text-danger">{{ form.username.errors }}</span>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password1.id_for_lable }}" class="col-form-label">Password1</label>
                                <input type="password" class="form-control" placeholder=" " name="{{ form.password1.name }}"  value="{{ form.password1.value }}" required />
                                <span class="text-danger">{{ form.password1.errors }}</span>
                            </div> {% endcomment %}
                            <div class="right-w3l">
                                <input type="submit" class="form-control" value="Login">
                            </div>
                            <p class="text-center mt-3">New member ?
                                <a href="{% url 'registration' %}" class="text-dark login_btn">
                                    Register Now</a>
                            </p>

                            
                            {% for i in messages %}
                                <p>{{ i }}</p>
                                
                            {% endfor %}
                                
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% comment %} </div> {% endcomment %}
<!-- signin Modal -->


{% endblock body %}