{% extends "base.html" %}
{% block body %}
{% load static %}

<!-- sign up Modal -->
{% comment %} <div class="modal fade" id="myModal_btn" tabindex="-1" role="dialog" aria-labelledby="myModal_btn" aria-hidden="true"> {% endcomment %}
    <div class="agilemodal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Register Now</h5>
            </div>
            <div class="modal-body pt-3 pb-5 px-sm-5">
                <div class="row">
                    <div class="col-md-6 mx-auto align-self-center">
                        <img src="{% static 'images/p3.png' %}" class="img-fluid" alt="login_image" />
                    </div>
                    <div class="col-md-6">
                        <form action="" method="POST" autocomplete="off">
                            {% csrf_token %}
                            <!-- {{registerform.as_p}} -->
                            

                            <div class="form-group">
                                <label for="{{ form.username.id_for_lable }}" class="col-form-label">Your Name</label>
                                <input type="text" class="form-control" placeholder=" " name="{{ form.username.name }}"  value="{{ form.username.value }}" />
                                <span class="text-danger">{{ form.username.errors }}</span>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.email.id_for_lable }}" class="col-form-label">E-mail</label>
                                <input type="email" class="form-control" placeholder=" " name="{{ form.email.name }}"  value="{{ form.email.value }}" />
                                <span class="text-danger">{{ form.email.errors }}</span>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password1.id_for_lable }}" class="col-form-label">Password1</label>
                                <input type="password" class="form-control" placeholder=" " name="{{ form.password1.name }}"  value="{{ form.password1.value }}" />
                                <span class="text-danger">{{ form.password1.errors }}</span>
                            </div>
                            <div class="form-group">    
                                <label for="{{ form.password2.id_for_lable }}" class="col-form-label">Password2</label>
                                <input type="password" class="form-control" placeholder=" " name="{{ form.password2.name }}"  value="{{ form.password2.value }}" />
                                <span class="text-danger">{{ form.password2.errors }}</span>
                            </div>
                            <!-- <div class="form-group">
                                <label for="recipient-email" class="col-form-label">Email</label>
                                <input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email" required="">
                            </div>
                            <div class="form-group">
                                <label for="password1" class="col-form-label">Password</label>
                                <input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
                            </div>
                            <div class="form-group">
                                <label for="password2" class="col-form-label">Confirm Password</label>
                                <input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">
                            </div>
                            <div class="sub-w3l">
                                <div class="sub-agile">
                                    <input type="checkbox" id="brand2" value="">
                                    <label for="brand2" class="mb-3">
                                        <span></span>I Accept to the Terms & Conditions</label>
                                </div>
                            </div> -->
                            <div class="right-w3l">
                                <input type="submit" class="form-control" value="Register">
                            </div>
                        </form>
                        <p class="text-center mt-3">Already a member?
                            <a href="{% url 'login' %}" class="text-dark login_btn">
                                Login Now</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% comment %} </div> {% endcomment %}
<!-- //signup modal -->
{% endblock body %}